body {
    background-color: lightgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mainHeading {
    color: lightpink;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    border: 4px solid lightpink;
    border-radius: 70px;
    background-color: aqua;
    margin-top: 50px;
}

#blurb {
    color: lightpink;
    text-align: center;
    font-size: 1.75rem;
    text-decoration: underline;
    text-decoration-color: aqua;
}

form {
    margin-top: 100px;
}

#label {
    color: lightpink;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: aqua;
    margin-left: 50px;
}

#search {
    background-color: aqua;
    color: lightpink;
    font-size: 1.25rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1.5px 1.5px 1.5px black;
    margin-left: 50px;
}

::placeholder {
    color: lightpink;
}

#button {
    background-color: lightpink;
    color: lightgreen;
    font-size: 1.25rem;
    margin-left: 50px;
    border-radius: 30px;
    height: 40px;
    box-shadow: 1.25px 1.25px 1.25px black;
}
